<h1 id="h1-overrides" class="home-page">WELCOME</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <%= link_to "Enter", books_path %>
    </div>
  </div>
</div>
