<h1 id="h1-overrides" class="home-page">WELCOME!</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-center" >
      <%= link_to "Enter", books_path, id: "link-overrides"%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>Welcome to Madlibs on Rails!</p>
      <p>We are happy to offer a variety of Madlibs for you to play.</p>
      <p><%= link_to "Create an account", new_user_path %> or <%= link_to "sign in with Facebook", session_path %> in order to access exclusive content. Or, </p>
      <p>Simply <%= link_to "Enter", books_path, id: "link-overrides"%> here or </p>
      <p></p>
    </div>
  </div>
</div>
