<h1 id="h1-overrides" class="home-page">WELCOME!</h1>
<div class="container-fluid">
  <div class="row">
  </div>
  <div class="row welcome-center">
    <div class="col-sm-12 text-center">
      <h2>Welcome to Madlibs on Rails!</h2>
      <p>We are happy to offer a variety of Madlibs for you to play.</p>
      <p><%= link_to "Create an account", new_user_path %></p>
      <p>or</p>
      <p><%= link_to "sign in with Facebook", session_path %>  </p>
      <p>in order to access exclusive content.</p>
      <p>If you just want to start playing</p>
      <p>simply <%= link_to "Check Out Our Books", books_path %> now! </p>
      <p></p>
    </div>
  </div>
</div>
