<h1 id="h1-overrides" class="home-page">Books</h1>
<div class="container-fluid">
  <div class="madlibs-list-container">
  <div class="row madlibs-book-list">
  <% @books.each do |bk| %>
    <div class="col-sm-3 text-center madlibs-books-wrapper">
      <%= link_to bk.title, book_madlibs_path(bk.id), {:class=> "madlibs-books-title"}  %>
    </div>
  <% end %>
</div>
  </div>
</div>
