<h1 id="h1-overrides" class="home-page">Books</h1>
<div class="row">
<% @books.each do |bk| %>

  <div class="col-sm-2 text-center">
    <%= link_to bk.title, book_madlibs_path(bk.id) %>
  </div>


<% end %>
</div>
