<div class="book-instructions-container">
  <div class="container-fluid">
    <div class="row text-center instructions-text">
      <h1>Exclusive Content</h1>
      <div class="col-sm-12">
        <p>We are excited to offer our members<br>
          <em>Exclusive Content!</em>
        </p>
      </div>
      <div class="col-sm-12">
        <p>These are books and stories that are<br>
          <em>only available</em><br>
          when you sign up for an account.
        </p>
      </div>
      <div class="col-sm-12">
        <p>So what are you waiting for?</p>
        <p>
          <%= link_to "Sign up today ", new_user_path %><br> to access our Exclusive Content<br>
          and to start impressing your friends with your own books and stories!
        </p>
      </div>

  </div>
</div>
