<div class="book-instructions-container">
  <div class="container-fluid">
    <div class="row text-center instructions-text">
      <h1>How To Make A Book</h1>
      <div class="col-sm-12">
        <p>1. Before you can make a book, you'll need to Sign Up or Log In.</p>
        <p>Remember, you can always do this through Facebook if you prefer.</p>
      </div>
      <div class="col-sm-12 book-instructions">
        <%= image_tag "demo/signup.jpg", :class => "instruction-images" %>
      </div>
      <div class="col-sm-12">
        <p>2. Once you've signed up, select the option to Make A New Book.</p>
      </div>
      <div class="col-sm-12 book-instructions">
        <%= image_tag "demo/makeabook.jpg", :class => "instruction-images border-instructions" %>
      </div>
      <div class="col-sm-12">
        <p>3. Next, enter the title of your new book.</p>
      </div>
      <div class="col-sm-12 book-instructions">
        <%= image_tag "demo/booktitle.jpg", :class => "instruction-images" %>
      </div>
      <div class="col-sm-12">
        <p>4. Great! Now you just need to write your first story!</p>
          <p><a href="/storyinstructions">How To Write a Story</a></p>
      </div>
      <div class="col-sm-12 book-instructions">
        <%= image_tag "demo/showbook.jpg", :class => "instruction-images" %>
      </div>
    </div>
  </div>
</div>
