<div class="book-instructions-container">
  <div class="container-fluid">
    <div class="row text-center instructions-text">
      <h1>How To Write A Story</h1>
      <div class="col-sm-12">
        <p>1. Navigate to the book you'd like to write a story for<br>
          and click on the Write A Story button.
        </p>
      </div>
      <div class="col-sm-12 book-instructions">
        <%= image_tag "demo/signup.jpg", :class => "instruction-images" %>
      </div>
      <div class="col-sm-12">
        <p>2. Just like when you make a book, each story requires a title.</p>

      </div>
      <div class="col-sm-12 book-instructions">
        <%= image_tag "demo/makeabook.jpg", :class => "instruction-images border-instructions" %>
      </div>
      <div class="col-sm-12">
        <p>3. For Mablibs to work, each story must have some words missing.</p>
        <p>These can be verbs, adjectives, nouns, or whatever you like!</p>
        <p>Just make sure each missing word starts and ends with a _.</p>.
        <p><a href="#">How Do I make the _ symbol on my computer?</a></p>
      </div>
      <div class="col-sm-12 book-instructions">
        <%= image_tag "demo/booktitle.jpg", :class => "instruction-images" %>
      </div>
      <div class="col-sm-12">
        <p>4. Once you write your story you will be directed to the form page<br>
          for filling missing words.</p>
          <p>Now's the time to grab your friends!</p>
          <p>You are the only one who knows what this story is about and your friends<br>
            will fill in the missing words! It is guaranteed to be a silly time!
          </p>
      </div>
      <div class="col-sm-12 book-instructions">
        <%= image_tag "demo/showbook.jpg", :class => "instruction-images" %>
      </div>
    </div>
  </div>
</div>
