<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Madlibs On Rails Email</title>
  </head>
  <body>
    <h1>Hi, <%= @email  %></h1>
    <p>You are receiving this email because you entered your address</p>
    <p>in our email contact form.</p>
    <p>Don't worry, we don't save your address. It was just an exercise to learn
    about sending users email.</p>
    <p>You should visit www.madlibsonrails.site though to make your own Madlibs
    Books and Stories!</p>
  </body>
</html>
