#h1-overrides
  margin-top: -20px
  height: 50px
  padding-top: 5px
  margin-bottom: 0

.home-page
  background: #38c4bf
  color: #fff
  text-align: center

a
  cursor: pointer

#link-overrides
  text-decoration: none
  color: #000
