#h1-overrides
  margin-top: -20px
  height: 50px
  padding-top: 15px
  margin-bottom: 0
  font-family: 'Lakki Reddy', cursive

.home-page
  background: #38c4bf
  color: #fff
  text-align: center

a
  cursor: pointer

#link-overrides
  text-decoration: none
  color: #000

.main-books-container
  display: block
  width: 50%
  margin: 0 auto
  padding-top: 50px

.books-container
  font-family: "IM Fell English", serif
  background: #fff
  color: #000
  border-radius: 3px
  display: block
  font-size: 18px


.books-container h1
  letter-spacing: 1px

.books-container input
  padding: 6px
  outline-color: #666
  margin: 5px 0

.books-container input[type=submit]
  color: #fff
  background: #000
  border: 1px solid #000
  border-radius: 3px
  padding: 3px 25px
  margin: 5px 0 20px 0

.books-container input[type=submit]:hover
  color: #000
  background: #fff

.book-errors
  color: red


.madlibs-book-list
  font-family: "IM Fell English", serif
  display: flex
  justify-content: center
  flex-wrap: wrap
  flex-direction: row
  background: #87CEFA
  border: 2px solid #E0FFFF
  border-radius: 5px
  padding: 10px 0

.home-books
  background: #38c4bf
  border: 2px solid #ceffe4

.exclusive-books
  background: #ffa014
  border: 2px solid #ffdeaf

.madlibs-books-wrapper
  border: 2px solid #00008B
  background: #E0FFFF
  margin: 5px 5px
  border-radius: 3px
  padding-top: 8px

.home-books-wrapper
  background: #b4f7d2
  border: 2px solid #1f8480

.exclusive-books-wrapper
  background: #ffdeaf
  border: 2px solid #c17101



.madlibs-books-title
  color: #1E90FF
  font-family: "Lakki Reddy", cursive
  font-size: 16px
  margin-top: 5px

.madlibs-books-title:hover
  color: #00008B
  text-decoration: none

.home-books-title
  color: #16a355

.home-books-title:hover
  color: #1f8480

.exclusive-books-title
  color: #ff9400

.exclusive-books-title:hover
  color: #c17101
  text-decoration: none



.delete-book-container
  font-family: "IM Fell English", serif
  font-size: 18px
  background: #ff9898
  color: #b20000
  width: 60%
  display: block
  margin: 0 auto
  padding-top: 30px
  border: 3px solid #b20000
  border-radius: 7px

.delete-book-button
  background: #fff
  border: 1px solid #b20000
  border-radius: 3px
  padding: 5px 35px
  cursor: pointer

.delete-book-button:hover
  background: #b20000
  color: #fff

.dont-delete
  margin: 30px 0

.dont-delete-book
  padding: 5px 35px
  cursor: pointer
  background: #1200e5
  color: #fff
  border: 1px solid #1200e5
  border-radius: 3px

.dont-delete-book:hover
  color: #1200e5
  background: #fff
  text-decoration: none

.books-header
  font-family: "IM Fell English", serif
  border-radius: 5px

.home-books-header
  background: #ceffe4

.user-books-header
  background: #E0FFFF

.exclusive-books-header
  background: #ffdeaf
