html,
body
  margin: 0
  padding: 0
  height: 100%

.main-footer-wrapper
  min-height: 120px
  background: #000

.main-footer-style
  bottom: 0
  background: #000
  color: #fff
  margin-top: 5px


.footer-list
  list-style: none
  display: flex
  flex-direction: row
  justify-content: flex-start

.footer-list li
  margin: 10px
  font-size: 35px
  cursor: pointer
  padding: 0 5px

.footer-list a
  color: inherit
.footer-list li:hover
  color: #000
  background: #fff
  border-radius: 50px
.footer-list a:hover
  color: inherit
