html,
body
  margin: 0
  padding: 0
  height: 100%

.main-footer-wrapper
  min-height: 120px
  background: red

.main-footer-style
  bottom: 0
  background: #000
  color: #fff

.footer-list
  list-style: none
  display: flex
  flex-direction: row
  justify-content: flex-start

.footer-list li
  margin: 10px
