#facebook-button
  background: blue
  color: #fff
  border: 1px solid blue
  border-radius: 3px
  width: 30%

#facebook-button:hover
  background: lighten(blue, 15%)

#action-mailer
  font-size: 14px
  line-height: 20px
  color: #000

.email-wrapper
  border-radius: 3px
  padding: 8px
  color: #979797
  background: #fff
  text-align: left
  height: 100%
  font-size: 12px
  display: flex

.email-input
  border: none

.email-input:focus
  outline: none

.email-submit
  background-color: #000
  border: 1px solid #fff
  color: #fff
  width: 200px
  margin-top: 10px
  border-radius: 3px

.email-submit:hover
  color: #00ffff

.email-address
  margin-right: 3px
