#facebook-button
  background: blue
  color: #fff
  border: 1px solid blue
  border-radius: 3px
  width: 30%

#facebook-button:hover
  background: lighten(blue, 15%)

#action-mailer
  font-size: 14px
  line-height: 20px
  color: #000

#action-mailer input
  width: 200px
  margin: 5px

.email-wrapper
  border-radius: 3px
  padding: 8px
  color: #979797
  background: #fff
  text-align: left

.email-submit
  background-color: #000
  border: 1px solid #fff
  color: #fff

.email-submit:hover
  background-color: #fff
  color: #000

.fa-envelope
  background: #fff
  height: 26px
  width: 20px

.email-address
  display: inline-block
