.big-background
  background: #D8BFD8
  padding-bottom: 20px


.madlibs-header
  font-family: "Lakki Reddy", cursive
  width: 100%
  display: block
  margin: 0 auto
  margin-top: -15px
  background: #DDA0DD
  border-top: 1px solid #F8F8F8
  border-bottom: 1px solid #F8F8F8


.madlibs-header h1,
.madlibs-header p
  margin-top: 6px

.madlibs-header h3
  margin-top: 10px

.madlibs-header p
  font-size: 20px
  margin-top: -6px
  margin-bottom: -3px

.madlibs-form
  width: 100%
  display: block
  margin: 0 5px 0 5px
  font-family: "IM Fell English", serif

.madlibs-edit-wrapper
  width: 60%
  margin: 0 auto
  margin-top: 20px

.first-child
  font-family: "Lakki Reddy", cursive

.madlibs-form p
  font-size: 17px

.madlibs-form a
  padding: 5px 35px
  font-size: 16px

.madlibs-form a:hover
  text-decoration: none

.madlibs-form input,
.madlibs-form textarea
  padding: 5px
  outline: none
  border: 1px solid #D8BFD8
  border-radius: 3px

.madlibs-form input:focus,
.madlibs-form textarea:focus
  border: 1px solid #8A2BE2


.madlibs-form textarea
  resize: none
  padding: 10px

.example
  font-family: "Coustard", serif

.madlibs-form-wrapper
  margin: 5px -10px 5px -10px
  font-family: "Coustard", serif
  background: #E6E6FA
  border: 2px solid #DDA0DD
  border-radius: 3px
  padding: 10px


.madlib-form-errors
  color: red

.instructions-wrapper
  border: 2px solid #DDA0DD
  border-radius: 3px
  margin: 20px 0 0 50px
  padding: 5px
  background: #E6E6FA

.wrapper-adjustments
  margin: 20px 50px 0 0

.madlibs-form-wrapper input:last-child
  padding: 5px 45px
  background: #fff
  color: #8A2BE2
  border: 1px solid #8A2BE2

.madlibs-form-wrapper input:last-child:hover
  background: #8A2BE2
  color: #f8f8f8

.madlibs-list-container
  width: 80%
  display: block
  margin: 0 auto
  padding: 50px 0


.madlibs-list
  font-family: "IM Fell English", serif
  display: flex
  justify-content: center
  flex-wrap: wrap
  flex-direction: row
  background: #ceb18c
  border: 1px solid #000
  border-radius: 5px
  padding: 10px 0

.madlibs-list-wrapper
  border: 2px solid #896230
  background: beige
  margin: 5px 5px
  border-radius: 3px
  padding-top: 8px


.madlibs-list-title
  font-family: "Lakki Reddy", cursive
  font-size: 22px
  color: #228B22
  margin-top: 5px

.madlibs-list-title:visited
  color: #228B22

.madlibs-list a:link
  text-decoration: none

.madlibs-list-title:hover
  color: #73be73

.madlibs-list-delete,
.madlibs-list-delete:focus
  color: #a02028

.madlibs-list-delete:hover
  color: #ef2b38

.madlibs-list-edit
  color: #0040ff
.madlibs-list-edit:hover
  color: #00bfff

.madlibs-list-title-header
  padding: 10px
  background: #38c4bf

.madlibs-list-title-button
  font-family: "IM Fell English", serif
  font-size: 15px
  color: #fff
  border-radius: 3px
  padding: 3px 35px

.get-writing
  background: #914591
  border: 1px solid #914591
  margin-left: 40px

.make-exclusive
  background: #309615
  border: 1px solid #309615

.get-deleting
  background: #a02028
  border: 1px solid #a02028
  margin-right: 40px

.get-writing:hover
  background: #fff
  color: #914591
  border: 1px solid #914591

.make-exclusive:hover
  background: #fff
  color: #309615

.get-deleting:hover
  background: #fff
  color: #a02028
  border: 1px solid #a02028


.show-madlibs-main-container
  width: 100%
  display: block
  margin: 0 auto
  margin-top: -15px
  min-height: 300px
  background: #CDBA96

.show-madlibs-header
  font-family: "Lakki Reddy", cursive
  color: yellow
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black

.show-madlibs-header h1,
.show-madlibs-header h4,
  margin: 12px 0
.show-madlibs-header h3
  margin: 10px 0 5px 0


.show-madlibs-container
  padding: 12px
  display: block
  width: 70%
  margin: 0 auto
  margin-bottom: 75px
  font-family: "IM Fell English", serif
  letter-spacing: 1px
  background: #F5DEB3
  border: 2px solid #8B5A2B
  border-radius: 3px

.user-word
  font-family: "Lakki Reddy", cursive
  color: #e51a66
  letter-spacing: 2px

.reset-madlib
  font-family: "IM Fell English", serif
  background: #F5DEB3
  border: 2px solid #8B5A2B
  border-radius: 3px
  color: #000
  padding: 3px 35px
  font-size: 15px
  letter-spacing: 1px

.reset-madlib:hover
  background: #8B5A2B
  border: 2px solid #8B5A2B
  color: #fff
  text-decoration: none

.reset-column
  margin-bottom: 20px


@media only screen and (max-width: 1232px)
  textarea
    width: 100%

@media only screen and (max-width: 766px)
  .madlibs-form-wrapper,
  .instructions-wrapper
    margin: 10px

  .madlibs-list
    display: block

  .get-writing
    margin-left: 0

  .get-deleting
    margin-right: 0

  .madlibs-list-title-button
    margin: 8px 0
    padding: 5px 35px

  .show-madlibs-container
    margin-bottom: 10px

  textarea
    width: 70%
