.madlibs-header
  font-family: "Lakki Reddy", cursive
  width: 50%
  display: block
  margin: 0 auto
  margin-top: -15px

.madlibs-header h3,
.madlibs-header h1,
.madlibs-header p
  margin-top: 6px

.madlibs-header p
  font-size: 20px
  margin-top: -6px
  margin-bottom: -3px

.madlibs-form
  width: 100%
  display: block
  margin: 0 5px 0 5px
  font-family: "IM Fell English", serif

.first-child
  font-family: "Lakki Reddy", cursive

.madlibs-form p
  font-size: 17px

.example
  font-family: "Coustard", serif

.madlibs-form-wrapper
  width: 60%
  margin-left: -50px
  font-family: "Coustard", serif

.madlib-form-errors
  color: red

.instructions-wrapper
  border: 1px solid red
  margin: 40px 0 0 50px

@media only screen and (max-width: 766px)
  .madlibs-form-wrapper
    text-align: center
    display: block
    margin: 0 auto
