.big-background
  background: #D8BFD8


.madlibs-header
  font-family: "Lakki Reddy", cursive
  width: 100%
  display: block
  margin: 0 auto
  margin-top: -15px
  background: #DDA0DD

.madlibs-header h3,
.madlibs-header h1,
.madlibs-header p
  margin-top: 6px

.madlibs-header p
  font-size: 20px
  margin-top: -6px
  margin-bottom: -3px

.madlibs-form
  width: 100%
  display: block
  margin: 0 5px 0 5px
  font-family: "IM Fell English", serif

.first-child
  font-family: "Lakki Reddy", cursive

.madlibs-form p
  font-size: 17px

.madlibs-form input,
.madlibs-form textarea
  padding: 5px
  outline: none

.example
  font-family: "Coustard", serif

.madlibs-form-wrapper
  margin: 5px 0 5px -20px
  font-family: "Coustard", serif
  background: #E6E6FA
  border: 2px solid #DDA0DD
  border-radius: 3px
  padding: 10px

.madlib-form-errors
  color: red

.instructions-wrapper
  border: 2px solid #DDA0DD
  border-radius: 3px
  margin: 20px 0 0 50px
  padding: 5px
  background: #E6E6FA

.wrapper-adjustments
  margin: 20px 50px 0 0

@media only screen and (max-width: 766px)
  .madlibs-form-wrapper
    text-align: center
    display: block
    margin: 0 auto

  .instructions-wrapper
    margin-bottom: 5px
