nav
  background: black
  color: white

#nav-overrides
  border-radius: 0
#button-overrides
  top: 12px
  left: 20px
  width: 24px
  height: 31px
  position: absolute
  background: transparent
  border: none

#a-overrides
  display: inline-grid

#a-overrides:hover,
#a-overrides:focus
  background: #000


.icon-bar
  display: block
  background: #fff
  position: absolute
  height: 3px
  width: 100%
  border-radius: 7px
  margin-bottom: 5px
  &:nth-child(1)
    top: 8px
  &:nth-child(2)
    top: 16px
  &:nth-child(3)
    top: 24px
