.usernav
  list-style: none
  margin-top: -20px
  background: #8cd9ae
  display: flex

.usernav li:not(:first-child)
  margin-top: 10px
  font-size: 20px
  padding: 10px

.usernav li:last-child input
  background: inherit
  color: #337ab7
  border: none
  padding: inherit

.usernav li:last-child input:hover
  color: #23527c
  text-decoration: underline

@media only screen and (max-width: 556px)
  .usernav
    flex-direction: column

  .usernav li:not(:first-child)
    display: flex
    flex-wrap: wrap
    margin-top: 5px
    font-size: 20px
    padding: 5px

  .usernav li:last-child input
    margin-bottom: 5px
