html,
body
  height: 100%
  margin: 0
  padding: 0
  background: #000

.welcome-center
  font-family: 'Coustard', serif
  background: #fff
  padding: 50px 0 100px 0
  width: 60%
  display: block
  margin: 0 auto
  margin-top: 20px
  border-radius: 5px


.welcome-links-container
  width: 100%
  margin: 30px 0

.welcome-center-links
  border: 1px solid black
  background: #fff
  border-radius: 3px
  padding: 5px 35px
  color: #000


.welcome-center-links:hover
  text-decoration: none
  color: #fff
  background: #000

.welcome-center p
  font-size: 15px
  margin: 15px 0

.main-container
  min-height: 100%
  position: relative
  // background: rgba(144,238,144, 0.2)
  background: #000


.body-container
  padding-bottom: 65px

.book-instructions-container
  background: #f2f2f2
  padding: 10px
  display: block
  margin: 0 auto
  width: 80%
  font-family: "IM Fell English", serif
  border: 1px solid #fff
  border-radius: 5px

.book-instructions
  margin: 10px


.instructions-text p
  font-size: 25px

.instruction-images
  width: 80%

.border-instructions
  border: 1px solid #000

.dropdown-explain
  cursor: pointer
  width: 30%
  display: block
  margin: 0 auto
  font-family: "Lakki Reddy", cursive
  padding-top: 5px
  color: #fff

.dropdown-explain:hover .dropdown-menu
  display: block
  margin-top: 0
  


.dropdown-explain-toggle
  cursor: pointer
  border: 1px solid #000
  width: 20%


#center-ul
  margin-left: 38%
  font-family: "IM Fell English", serif




@media only screen and (max-width: 820px)
  .welcome-center
    width: 80%

@media only screen and (max-width: 480px)

  .inside-welcome
    margin: 0 5px
