html,
body
  height: 100%
  margin: 0
  padding: 0
  background: #000

.welcome-center
  font-family: 'Coustard', serif

.welcome-center p
  font-size: 15px

.main-container
  min-height: 100%
  position: relative
  background: rgba(144,238,144, 0.2)


.body-container
  padding-bottom: 65px
