.story-header
  font-family: 'Lakki Reddy', cursive
  line-height: 0.3
  background: green
  color: #fff
  margin-top: -15px

.story-header p
  font-size: 22px

.word-submit-form
  border: 1px solid red
  width: 50%
  margin: 0 auto
  display: block
  font-family: 'Coustard', serif

.word-submit-form input
  margin: 5px 0
  border-radius: 3px
  border: 1px solid green
  padding: 5px

.word-submit-form input:focus
  outline: none

.word-submit-form p
  margin-top: 10px
  font-size: 15px

.submit-words
  margin-top: -20px

.submit-button
  background: green
  color: #fff
  width: 180px

.submit-button:hover
  background: rgba(144,238,144, 0.3)
  color: green
  border: 1px solid green
