<li>
<form id="action-mailer" action="index.html" method="post">
  <div class="email-wrapper">
    <label class="email-address"><i class="fa fa-envelope"></i></label>
    <input type="text" name="" value="">
  </div>

  <input type="submit" class="email-submit" name="" value="Submit">
</form>
</li>
