<div class="container-fluid text-center main-footer-wrapper">
  <div class="row main-footer-style">
      <footer class="col-sm-12">
        <ul class="footer-list">
          <li>hi</li>
          <li>there</li>
          <li>dude</li>
          <li>wha?</li>
        </ul>
      </footer>
  </div>
</div>
