<div class="container-fluid text-center main-footer-wrapper">
  <div class="row main-footer-style">
      <footer class="col-sm-12">
        <ul class="footer-list">
          <li><a href="http://petertasc.io" target="_blank">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </a>
          </li>
          <li><a href="https://github.com/ptascio" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
          </li>
          <li><a href="https://twitter.com/peter_tascio?lang=en" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          </li>
          <li><a href="https://angel.co/peter-tascio" target="_blank">
            <i class="fa fa-angellist" aria-hidden="true"></i>
          </a>
          </li>
          <li><a href="https://www.linkedin.com/in/peter-tascio-57a2245/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          </li>
        </ul>
      </footer>
  </div>
</div>
