<div class="container-fluid text-center main-footer-wrapper navbar-fixed-bottom">
  <div class="row main-footer-style">
      <footer class="col-sm-12">
        <ul class="footer-list">
          <li><a href="http://petertasc.io">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </a>
          </li>
          <li><i class="fa fa-github" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
          <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
        </ul>
      </footer>
  </div>
</div>
