<nav class="navbar" id="nav-overrides">
  <div class="container-fluid">
    <!-- <div class="collapse navbar-collapse"> -->
      <ul class="nav navbar-nav" id="ul-overrides">
        <li class="dropdown">

        <a href="#" class="dropdown-toggle" id="a-overrides"
        data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <button type="button" name="button" id="button-overrides">
          <div class="hover-state">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>

          </button>
          </a>
        </li>
      </ul>
    <!-- </div> -->
  </div>
</nav>
