<nav class="navbar" id="nav-overrides">
  <div class="container-fluid">
        <ul class="nav navbar-nav" id="ul-overrides">
          <li class="dropdown">
            <button class="dropdown-toggle" data-toggle="dropdown" type="button" name="button" id="button-overrides">
              <div class="hover-state">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </div>
            </button>
            <ul class="dropdown-menu" id="dropdown-overrides">
              <li><%= link_to "Titles", books_path %></li>
              <li><%= link_to "Login", session_path%></li>
              <li><%= link_to "Signup", new_user_path %></li>
              <li><%= link_to "Home", root_path %></li>
              <li>
                <a class="social-links" target="_blank" href="https://www.facebook.com/TheOriginalMadLibs"><i id="social-icons" class="fa fa-facebook"></i></a>
                <a class="social-links" target="_blank" href="https://twitter.com/MadLibs"><i id="social-icons" class="fa fa-twitter"></i></a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="logo-holder">
          <div class="logo">
          </div>
        </div>
        <div class="search">
          <span id="glyphicon-overrides" class="glyphicon glyphicon-search "></span>
        </div>
      </div>
</nav>
