<div id="searcharea" class="container-fluid mdl-search_overlay">
  <div class="row">
    <div class="col-sm-12">
        <i class="glyphicon glyphicon-remove"></i>
      <form class="search-form text-center" action="/books" method="GET">
        <input type="submit" value="Find Book!" class="search-submit" >
        <i class="glyphicon glyphicon-search"></i><input type="text" name="search" autofocus="autofocus" value="" class="search-bar">
        <p class="search-prompt">Type Book Title</p>
      </form>
    </div>
  </div>
</div>
