<div id="searcharea" class="container-fluid mdl-search_overlay">
  <div class="row">
    <div class="col-sm-12">
        <i class="glyphicon glyphicon-remove"></i>
      HI asdfkhsalkdjfhsadlkjfh
      <form class="search-form" action="/books" method="GET">
        <p>
          <input type="text" name="search" value="">
        </p>
        <input type="submit" value="Find Book!" >
      </form>
    </div>
  </div>
</div>
