<div class="row">
  <ul class="usernav signupnav">
    <li class="col-sm-2 "><h2><%= link_to "Sign up!", new_user_path %></h2></li>
    <li class="col-sm-2">*Exclusive content!</li>
    <li class="col-sm-1"><li>*Make your own books!</li>
    <li class="col-sm-1"><li><%= link_to "Sign up now!", new_user_path %></li>
    <li class="col-sm-3"><%= link_to "Home", root_path %></li>
  </ul>
</div>
